* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
  }
  /* navBar start */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    padding: 0 50px;
    /* position: relative; */
  }
  .logo img {
    /* padding-bottom: 0%; */
    height: 80%;
    width: 50%;
  }
  .nav {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    /* margin-right: 2rem; */
  }
  .navigation li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  .cta a {
    color: #fff;
    text-decoration: none;
  }
  .navigation :nth-child(1) {
    color: #fff;
  }
  .cta {
    background-color: #4361ee;
    padding: 0.2rem;
    border: 1px solid #313a82;
    border-radius: 5px;
  }
  .navigation li:hover {
    color: #4361ee;
  }
  .group {
    display: flex;
  }
  .searchForm {
    display: inline-flex;
    border: 1px solid #4361ee;
    border-radius: 20px;
    overflow: hidden;
  }
  .searchForm input {
    max-width: 120px;
    border: none;
    outline: none;
    height: fit-content;
    font-size: 1rem;
    background: #fff;
    padding: 0px 15px;
  }
  .searchForm button {
    color: #fff;
    border: none;
    width: 30px;
    font-size: 1rem;
    background-color: #4361ee;
    cursor: pointer;
  }
  .menuBtn {
    position: relative;
    /* display: none; */
    visibility: hidden;
  }
  @media (max-width: 850px) {
    .nav {
      position: absolute;
      opacity: 0;
      left: 100%;
    }
    .menuBtn {
      font-size: 2.5rem;
      cursor: pointer;
      visibility: visible;
    }
    .menuBtn:hover {
      color: #fff;
      background-color: #4361ee;
      border-radius: 50%;
    }
    .nav.open,
    .navigation {
      top: 80px;
      opacity: 1;
      left: 0;
      display: flex;
      flex-direction: column;
      background: #dee1e2;
      width: 100%;
      height: calc(100vh-80px);
      padding: 20px;
    }
    .navigation {
      visibility: visible;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    .save-title {
      display: none;
    }
  }
  /* navBarEnd */
  
  main {
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }
  .card {
    width: 400px;
    height: 420px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 7px 7px 25px 1px rgba(0, 0, 0, 0.6);
  }
  .card-header img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .card-content {
    padding: 12px;
    /* font-size: 1rem; */
  }
  .news-source {
    color: #a5a1a1;
    font-size: 1.2rem;
    margin-block: 12px;
  }
  .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .news-desc {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .news-desc::after {
    content: ".....";
  }
  .readmoreBtn {
    font-size: 1.3rem;
    text-decoration: none;
    color: #4361ee;
  }
  .btns {
    /* position: absolute; */
    display: flex;
    justify-content: end;
    gap: 3rem;
    /* background: #000;  */
    cursor: pointer;
  }
  .bothBtn {
    padding: 3px 6px;
    font-size: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4361ee;
    color: #fff;
    /* bottom: 0; */
  }
  .likeBtn {
    padding: 3px 6px;
    font-size: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    /* background-color: red; */
    color: #fff;
  }
  .red-color {
    background-color: crimson;
  }
  footer {
    background-color: #333;
    height: 300px;
    display: flex;
    justify-content: space-around;
  }
  /* .footer-content{
  } */
  .footerlogo {
    color: #ffffff;
    font-size: 3rem;
    padding-top: 4rem;
    cursor: pointer;
  }
  .social-icon a {
    color: #fff;
    font-size: 2.5rem;
  }
  .social-icon {
    word-spacing: 1.4rem;
    padding-top: 25px;
  }
  .copyright {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
  }
  .save-title,
  .home-a {
    /* text-decoration: underline;
     */
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .home-a {
    text-decoration: none;
    font-size: 1.1rem;
  }